aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.4.0
alembic==1.15.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
bidict==0.23.1
billiard==4.2.1
celery==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
fastapi==0.115.12
frozenlist==1.7.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
kombu==5.5.3
multidict==6.6.3
playwright==1.52.0
playwright-stealth==2.0.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
pyee==13.0.0
redis==6.1.0
requests==2.32.3
soupsieve==2.7
beautifulsoup4==4.13.4
structlog==25.3.0
tenacity==9.1.2
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
websockets==15.0.1
SQLAlchemy==2.0.40
python-dotenv==1.1.0
python-multipart==0.0.20
pytest==8.3.5
pytest-asyncio==0.26.0