<p>Produto: <strong>{{ monitored.name_identification }}</strong><br>
Concorrente: {{ alert.name }}<br>
Preço: {{ alert.price|currency }}{% if alert.pct_below_target is not none %}<br>{{ alert.pct_below_target }}% abaixo do alvo definido{% endif %}</p>